@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --background-color: rgb(69, 213, 69);
    --container-color: #fff;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: var(--container-color);
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.33);
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

form input {
    border: none;
    background: transparent;
    border-bottom: 2px solid grey;
}

form input:focus {
    outline: none;
}

form button {
    background-color: var(--background-color);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

form button:hover {
    opacity: 0.8;
}